<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise 1</title>
    <script src="index.js"></script>
</head>
<body>
<div class="parent">
    <div class="child">Parent div with 50% width.</div>
    <div class="full-width">
        <p>Child div with 100% width and 20% padding </p>
    </div>
    <div class="half-width">
        <p>Child div with 50% width and 1em padding</p>
    </div>
    <div class="half-width">
        <p>Child div with 50% width and 1em padding</p>
    </div>
</div>
</body>
</html>
