/* WORKSHOP_START*/
/* Add your CSS here */
/* WORKSHOP_END*/
/* FINAL_START*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/*FINAL_END*/

.parent {
  float: left;
  width: 50%;
  border: 5px solid lightblue;
}

.full-width {
  padding: 20%;
  width: 100%;
  border: 5px solid cornflowerblue;
}

.child {
  padding: 20px;
  width: 100%;
  border: 5px solid #000;
}

.child::before,
.child::after {
  display: block;
  padding: 10px;
  width: 100%;
  border: 5px solid deepskyblue;
}
.child::before {
  content: "::before";
}
.child::after {
  content: "::after";
}

.half-width {
  float: left;
  padding: 1em;
  width: 50%;
  border: 5px dashed darkslateblue;
}
