/* Normalize box model */
// WORKSHOP_START

/* Add your CSS here */
// WORKSHOP_END
// FINAL_START
html {
   box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
}
// FINAL_END
